
.navbar{
    width: 90%;
    margin: auto;
}

.icon{
    margin: 10px;
}
.headerWrapper{
    padding: 10px;
    box-shadow: 1px .5px 10px rgb(184, 181, 181);
    margin-bottom: 30px;
}
.logo a{
    color: #ff5200;
    text-decoration: none;
    /* padding: 0px 10px; */
    padding-right: 200px;
}
